<div class="chatwrap">
    <div class="toprow menubar">

    </div>
    <div class="mainarea">
        <div class="leftside">
            <h3>Rom:</h3>
            <ul>
                <li><a>Standard</a></li>
            </ul>
        </div>
        <div class="chatside">
            <div class="chatterWindow">
                <div class="chatterWindowInner">
                    <chat-message message="msg" ng-repeat="msg in chatter.messages"></chat-message>
                </div>
                <div class="chatterWindowInput">
                    <input type="text" class="form-control" name="chatinput" />
                </div>
            </div>
        </div>
    </div>

</div>